.black {
    background: black;
    background-image: url(../images/TitanSilo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
#yellow {
    color: yellow;
}

#heading {
    text-align:center; 
    font-size: 25px;
}

p {
    color: white;
    font-family: "BlockLetter";
    font-size: 19px;    
    font-weight: bold;
}

h1 {
    color: #52b4cd;
    font-family: 'TeenTitans';
    font-size: 65px; 
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, .7);
    width: 100%;
}

#total-score-text {
    font-size: 60px;
    text-align: center; 
    color: #52b4cd;
}

#villain-random-text {
    font-size: 60px;
    text-align: center;
    color: red;
}

#directions {
    font-size: 16px;
}

#wins-text {
    color: yellow; 
}

#losses-text {
    color: red;
}

@font-face {
    font-family: 'TeenTitans';
    src: url(../images/TeenTitansGo.ttf);

}

@font-face {
    font-family: 'Block';
    src: url(../images/BlockLetter.otf)
}

.titan {
    height: 82px;
    margin-left: -5px;
    margin-right: -5px; 
    border-left: -5px; 
    border-right: -5px; 
}


@media only screen and (min-width: 600px) {
    
    .titan {
        height: 127px;
       
    }

    h1 {
        font-size: 118px
    }

    p {
        font-size: 29px;
    }

    #heading {
        font-size: 34px;
    }
    
    
} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    
    .titan {
        height: 179px;
        
    }
    
    h1 {
        font-size: 121px
    }
    
    p {
        font-size: 40px;
    }
          
    #heading {
        font-size: 47px;
    }
    
    #directions {
        font-size: 20px;
    }
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
    
    .titan {
        height: 249px;
        
    }
    
    h1 {
        font-size: 164px
    }

    p {
        font-size: 25px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    
    .titan {
    height: 301px;
   
    }

} 
