.black {
    background: black;
    background-image: url(../images/TitanSilo.png);
    background-repeat: no-repeat;
    background-size: auto;
}
#yellow {
    color: yellow;
}

p {
    color: white;
    font-family: "BlockLetter";
    font-size: 23px;    
    font-weight: bold;
}

h1 {
    color: #52b4cd;
    font-family: 'TeenTitans';
    font-size: 100px; 
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, .7);
    width: 100%;
}

#total-score-text {
    font-size: 60px;
    text-align: center; 
}

#villain-random-text {
    font-size: 60px;
    text-align: center;
}

#directions {
    font-size: 18px;
}

@font-face {
    font-family: 'TeenTitans';
    src: url(../images/TeenTitansGo.ttf);

}

@font-face {
    font-family: 'Block';
    src: url(../images/BlockLetter.otf)
}